{% include 'header.html.twig' %}
<div class="container mt-5">
    <div class="alert alert-danger text-center" role="alert">
        Sajnáljuk, nincs ilyen oldal :(
    </div>
</div>
{% include 'footer.html.twig' %}
