{% include 'header.html.twig' %}
<div class="row">
	<div class="jumbotron bg-dark text-white pt-3 pb-3">
		<h1 class="display-4 text-center">Gitár törlés</h1>
	</div>
</div>
<div class="container d-flex align-item-center justify-content-center">
	<div class="row">
		<form action="/guitarDelete" method="POST">
			<input type="hidden" value="{{guitar.id}}" name="id">
			<div class="d-flex pt-5">
				<a href="javascript:history.go(-1)" class="btn btn-warning mt-5">
					<i class="fa-solid fa-arrow-left"></i>
					VISSZA
				</a>
				<h3>Azonosító:
					{{guitar.id}}</h3>
				<button type="submit" class="btn btn-danger text-white mt-5" name="delete">
					<i class="fa-solid fa-trash"></i>
					TÖRÖL
				</button>
			</div>
		</form>
	</div>
</div>
{% include 'footer.html.twig' %}
